* {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #000;
  font-family: Cinzel, serif;
  position: relative; }

.container {
  width: 1200px;
  margin: 0 auto; }

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4); }

.logo {
  margin-left: -300px;
  font-size: 25px; }

.navbar ul {
  margin-left: 150px; }
  .navbar ul li {
    list-style-type: none;
    padding: 15px;
    margin: 0 25px;
    font-size: 20px;
    display: inline-block;
    transition: 0.5s; }
    .navbar ul li:hover {
      cursor: pointer; }
  .navbar ul li a {
    text-decoration: none;
    color: #000; }
    .navbar ul li a:hover {
      color: #da8285; }

/* HERO */
header {
  height: 100vh;
  position: relative;
  background: url(https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8cc85ea1f3bde44325282044a295d390&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.hero-title {
  width: 600px;
  height: 400px;
  margin-top: 50px;
  font-family: "Cinzel", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 80px;
  background: rgba(255, 255, 255, 0.2); }
  .hero-title:hover {
    cursor: pointer; }
  .hero-title:active {
    box-shadow: 0 35px 85px 5px #000; }

.monas-gardens {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .monas-gardens p {
    margin: 0 auto;
    color: #fff; }

/* STORY */
.story {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.story-txt {
  height: 90vh;
  margin: 0 auto;
  padding: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 70px 20px #ccc; }
  .story-txt p {
    font-family: "Cinzel", serif;
    font-size: 20px;
    text-align: justify; }
  .story-txt a {
    text-decoration: none; }

.btn {
  height: 60px;
  width: 12em;
  margin: 70px auto;
  border: 1px solid gray;
  border-radius: 22px;
  line-height: 1em; }
  .btn:hover {
    cursor: pointer;
    border: 1px solid #6EB2C4; }
  .btn p {
    text-align: center;
    color: black; }

/* INSPIRATIONS - NORDIC */
.nordic,
.south {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container-nordic,
.container-south {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 100px 10px #000; }

.nordic-pic, .south-pic {
  background-image: url(https://images.unsplash.com/photo-1506701160839-34cfdecaf53c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6001e74750b15bd9e5099e796deac04a&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center; }
  .nordic-pic a, .south-pic a {
    text-decoration: none;
    width: 30%;
    margin: 0 auto; }
  .nordic-pic .next, .south-pic .next {
    color: white;
    border: 1px #fff solid;
    border-radius: 50px;
    text-align: center; }
    .nordic-pic .next p, .south-pic .next p {
      margin: 0.3em 0.2em 0; }
      .nordic-pic .next p:hover, .south-pic .next p:hover {
        cursor: pointer; }

.nordic-rest,
.south-rest {
  position: absolute;
  width: 70%;
  height: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: justify;
  color: #000;
  background: rgba(255, 255, 255, 0.6); }
  .nordic-rest h1,
  .south-rest h1 {
    width: 30%;
    text-align: center; }
  .nordic-rest p,
  .south-rest p {
    width: 70%;
    padding: 3em; }

.nordic-pic i, .south-pic i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  padding: 4px;
  display: inline-block; }

i.arrow {
  margin: 0 0.2em 0.3em;
  transform: rotate(45deg); }

/* ENGLAND */
.england,
.scent {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }

.container-eng,
.container-scent {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 100px 10px #000; }

.eng-pic {
  height: 80vh;
  width: 30%;
  background-image: url(https://images.unsplash.com/photo-1473090731544-e0402eb455de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43dd0f374373129fe047747a158e6a41&auto=format&fit=crop&w=889&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px; }

.eng-rest,
.scent-rest {
  width: 40%;
  height: 80vh;
  margin: 0 20px; }
  .eng-rest h1,
  .scent-rest h1 {
    padding: 30px 0; }
  .eng-rest a,
  .scent-rest a {
    text-decoration: none;
    color: #000; }

.eng-rest > p {
  margin-top: 5em;
  text-align: justify; }

.next {
  width: 40%;
  border: 1px #000 solid;
  border-radius: 50px;
  text-align: center;
  position: relative;
  top: 20%; }
  .next p {
    margin: 0.3em 0.2em 0; }
  .next:hover {
    cursor: pointer;
    border: 1px #da8285 solid; }

.england i {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 4px;
  display: inline-block; }

i.arrow {
  margin: 0 0.2em 0.3em;
  transform: rotate(45deg); }

/*SOUTH */
.south-pic {
  background-image: url(https://images.unsplash.com/photo-1521368621301-177527413db1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a63a9f866325e05f6a418ca93bec3bd&auto=format&fit=crop&w=753&q=80); }

/* WEST */
.scent-pic {
  height: 80vh;
  width: 30%;
  background-image: url(https://images.unsplash.com/photo-1509432987859-a93add19398d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8b7a86e8a7bccb7be001b8eb78ecc810&auto=format&fit=crop&w=751&q=80);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 20px; }

/* BREAKER */
/* FEATURES */
.features {
  height: 80vh;
  width: 100%;
  display: flex;
  margin: 0 auto; }
  .features div {
    align-items: center;
    text-align: center;
    padding: 10px 15px; }
    .features div p {
      font-size: 0.8em;
      font-weight: bold;
      padding: 10px 10px;
      margin: 0; }
    .features div .fab {
      font-size: 5em;
      color: #da8285;
      text-align: center;}

.container-features {
  display: flex; }

/* TIPS */
.tips {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f384fa6a6caa83e0ffdcef585e20c99&auto=format&fit=crop&w=1500&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.daily-tip p {
  font-size: 40px;
  padding: 50px auto;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  padding: 0.5em 2em; }

/* CONTACT */
.contact {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  height: 300px;
  width: 300px;
  margin: 0 30px;
  font-size: 0.9 em;
  font-weight: bold; }
  .form label, .form textarea,
  .form input {
    width: 100%;
    margin: 10px; }

.form,
.map {
  margin: 0 3em; }

textarea {
  height: 80px;
  border: 1px #ccc solid; }

input[type=text] {
  border: none;
  border-bottom: 1px #ccc solid; }

input[type=submit] {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.7em;
  width: 20%;
  font-family: Cinzel;
  font-weight: bold;
  border: none;
  margin-top: 0;
  border: 1px #ccc solid; }
  input[type=submit]:hover {
    border: 1px #da8285 solid; }

.overmap {
  display: flex;
  align-items: center;
  text-align: left;
  width: 500px; }

.address {
  font-size: 0.9em; }

.address,
.icons {
  width: 40%;
  padding: 0;
  margin: 0 auto; }

.fab {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.3em;
  padding: 0;
  color: #000; }
  .fab:hover {
    color: #55acee; }

/* FOOTER */
.footer {
  height: 5vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative; }

.base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right; }

.copyright p {
  font-size: 1em; }

/*# sourceMappingURL=style.css.map */
