* {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #000;
  font-family: Cinzel;
  position: relative; }

.container {
  width: 1200px;
  margin: 0 auto; }

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 8px double;
  border-bottom: 8px double;
  box-shadow: 0 0 170px 10px #383c33;
  height: 80px;
  width: 100%;
  margin-top: 30px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4); }

.logo {
  margin-left: -300px;
  font-size: 25px; }

.navbar ul {
  margin-left: 150px; }
  .navbar ul li {
    list-style-type: none;
    padding: 15px;
    margin: 0 25px;
    font-size: 20px;
    display: inline-block;
    transition: 0.5s; }
    .navbar ul li:hover {
      color: #fff;
      cursor: pointer; }
  .navbar ul li a {
    text-decoration: none; }

/* HERO */
header {
  height: 100vh;
  position: relative;
  background: url(https://images.unsplash.com/photo-1514092379092-21dfee9d0b93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aeb724a6df93ccc8a3d87e02462d9a9&auto=format&fit=crop&w=752&q=80);
  background-size: cover;
  background-position: center; }

.hero-title {
  width: 900px;
  height: 400px;
  border: 8px double;
  margin-top: 50px;
  box-shadow: 0 35px 185px 15px #383c33;
  font-family: "Cinzel", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 80px;
  background: rgba(255, 255, 255, 0.4); }

.monas-gardens {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .monas-gardens p {
    margin: 0 auto; }

/* STORY */
.story-txt {
  margin: 70px auto;
  text-transform: capitalize; }
  .story-txt p {
    font-family: "Amatic SC";
    font-size: 30px; }

/* INSPIRATIONS */
.inspirations {
  height: 100vh;
  box-shadow: 0 0 170px 10px #383c33; }

.tablink {
  background-color: #fff;
  color: #000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%; }

.tablink:hover {
  background-color: #777; }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #fff;
  display: none;
  padding: 100px 20px;
  height: 100%; }

#Home {
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/PFFTZ8OGXV.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#News {
  background-image: url(https://images.unsplash.com/photo-1521193687375-29fee60b820e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dde47dc5aef8fbe0cdb0ec1d4f5b610a&auto=format&fit=crop&w=400&q=80);
  background-size: cover;
  background-position: center; }

#Contact {
  background-image: url(https://images.pexels.com/photos/302100/pexels-photo-302100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover; }

#About {
  background-image: url(https://images.unsplash.com/photo-1509420316987-d27b02f81864?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=076f0cdd8459c4da67a4fb4309e25ca8&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-position: center; }

/* TIPS */
.tips {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.daily-tip {
  margin: 70px auto; }
  .daily-tip p {
    font-size: 20px;
    margin: 0 auto; }

/* CONTACT */
/* FOOTER */
footer {
  background: url(https://images.unsplash.com/photo-1514092379092-21dfee9d0b93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aeb724a6df93ccc8a3d87e02462d9a9&auto=format&fit=crop&w=752&q=80);
  background-position: center;
  background-size: cover;
  height: 30vh; }

/*# sourceMappingURL=style.css.map */
